* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: white;
    font-family: "Poppins";
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

p {
    color: whitesmoke;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

strong {
    color: #1f8826;
    font-family: "Raleway";
    font-weight: bold;
}

p > strong {
    font-size: 17px;
}

a {
    background-color: #639808;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 16px;
    width: 80%;
}

a:hover {
    background-color: #9FFC01;
}

body {
    background-color: black;
}

header {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #171717;
    padding: 10px;
    width: 100%;
    height: 100px;
}

header > a {
    width: auto;
}

img#logoCursoH {
    height: 80px;
}

#divImgMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 33%;
}

#imgMenu {
    width: 40px;
}

#imgMenu:hover {
    cursor: pointer;
}

#menu {
    display: none;
}

#menu > a {
    color: white;
    border-radius: 0;
    background-color: #171717;
}

#menu > a:hover {
    color: #9FFC01;
}

header > a:hover {
    transform: scale(1.03);
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 120px 10px 0px 10px;
    margin-bottom: 30px;
    text-align: center;
    background-color: black;
    max-width: 600px;
}

section#hero {
    background-image: url("../imgs/organizando-dinheiro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0px 0px 0px;
    max-width: 97vw;
    height: 100vh;
}

div#conteudoHero {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 50px 10px;
    width: 96vw;
    height: 100%;
}

div#textosH {
    max-width: 600px;
}

div#textosH > p {
    margin: 10px 0px 40px 0px;
}

div#textosH > a {
    width: 100%;
}

section#hero > img {
    width: 85%;
}

section#sobre > p {
    margin: 5px 0px 40px 0px;
}

#divPilares {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.blocosPilares {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 42, 42);
    border-radius: 15px;
    margin-top: 40px;
    padding: 10px;
    max-width: 400px;
}

div.blocosPilares:hover {
    background-color: rgb(62, 62, 62);
}

div.blocosPilares > img.iconPilares {
    width: 70px;
    margin-bottom: 10px;
}

div.blocosPilares > p {
    margin: 10px 0px;
}

section#depoimentos > p {
    margin-top: 5px;
}

section#pilares > a {
    margin-top: 40px;
}

#divDepoimentos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

div.depoimentos {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    border: 1px solid #9FFC01;
    border-radius: 12px;
}

div.depoimentos > img.imgRosto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

div.depoimentos > p {
    margin-top: 10px;
}

div#depoimento2, div#depoimento3, div#depoimento4 {
    display: none;
}

div.depoimentos > .imgEstrelas {
    width: 200px;
    margin: -30px 0px;
}

#divSetas {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#divSetas img:hover {
    cursor: pointer;
}

section#depoimentos > a {
    margin-top: 50px;
}

section#inscricao > div#blocoInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 2px 2px 50px #1f8826;
    border: 1px solid #9FFC01;
    border-radius: 12px;
    width: 100%;
}

div#blocoInfo > img#logoCursoI {
    width: 45%;
    margin-bottom: 30px;
}

div#blocoInfo > p {
    margin-bottom: 10px;
    font-size: 18px;
}

div#preco > p#precoAntigo {
    font-size: 22px;
    font-family: "Bebas Neue";
}

div#preco > p#precoAntigo > span {
    text-decoration: line-through;
}

div#preco > p#precoPromocao {
    font-size: 28px;
    font-family: "Bebas Neue";
    color: #9FFC01;
}

div#preco > p#precoPromocao > span {
    font-size: 50px;
}

div#preco > p#precoAVista {
    font-size: 22px;
    font-family: "Bebas Neue";
}

div#blocoInfo > a {
    margin: 20px 0px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    height: 100px;
}